// colors
$light-gray: #F2F2F2;
$bg-dark: #14161A;
$modal-bg: #252930;
$text-light: #939496;
$bg-primary: #5F6063;
$bg-secondary: #1D1F23;
$dark-gray: #202420;
$input: #252930;
$text-secondary: #757D8A;

// borders
$btn-radius: 4px;
$card-radius: 8px;